#board { width: 600px; margin: 0 auto; }
.row { clear: both; }
.cell { float: left; width: 40px; height: 40px; border: 1px solid #eee; text-align: center;}
.cell.snake { font-size: 26px; }
.cell.snake-head { color: red; font-size: 26px; }
.cell.food { font-size: 36px; }
.cell.wall { background-color: #444; }
